body{
    background-color: rgb(118, 5, 255);
  color: rgb(255, 255, 255);
 font-family: cursive;
 font-size: medium;
}
footer{
  background-color: rgb(231, 246, 236);
  color: rgb(0, 0, 0);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2rem;
}
footer p {
  text-align: center;
  font-size: 0,6rem;
  margin-top: 0,5rem;
}
:root{
  --texte-color:#10010ed1;
  --card-front-color:#520a68;
  --card-back-color:#d996e0; 
}
#container{
  display: flex;
}
.cartao{
  margin: 1rem 1rem;
  height: 20rem;
  flex-grow: 1;
  flex-basis: calc(33%-6rem);
}
.cartao-conteudo{
  text-align: center;
  background-color: var(--card-back-color);
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms ease-in-out;
}
.cartao-conteudo h3{
  color:var(--texte-color);
  border: 1px solid var(--texte-color);
  text-align: left;
  padding: 0.5rem;
  position: absolute;
  margin: 0.6rem;
  border-radius: 0.6rem;
  font-size: 1vw;
  backface-visibility: hidden;
} 
.cartao-conteudo-pergunta p{
  color: var(--card-front-color);
  font-weight: 700;
}
.cartao:hover .cartao-conteudo{
  transform: rotateY(180deg);
}
.cartao-conteudo-pergunta,
.cartao-conteudo-resposta{
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}
.cartao-conteudo-resposta{
  transform: rotateY(180deg);
}
.cartao-conteudo p{
  margin-top: 1rem;
  padding: 2rem;
}