body{
    background-color: rgb(118, 5, 255);
  color: rgb(255, 255, 255);
 font-family: cursive;
 font-size: medium;
}
footer{
  background-color: rgb(231, 246, 236);
  color: rgb(0, 0, 0);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2rem;
}